/*
Admin css
*/

#location-list{}
	
#location-list .item {
  background: none repeat scroll 0 0 rgb(241, 241, 241);
  border-bottom: 1px solid rgb(221, 221, 221);
  cursor: pointer;
  display: block;
  padding: 4px 10px;
  width: auto;
}
	
	